/* color and width set */
:root {
  --mobile-width: 300px;
  --tablet-width: 768px;
  --desktop-width: 1200px;
  --primary-background-color: #ffffff;
}

/* reset */
h1,
h2,
h3,
p {
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
  display: block;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 300px) {
  img {
    width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  img {
    width: 370px;
  }
}

/* main styles */
.content-wrapper {
  display: flex;
  /* width: 100vw; */
  /* @media screen and (min-width: 768px) {
    display: flex;
  } */
}

.header {
  background-color: #1e2939;
  color: #ffffff;
  margin-right: 50px;
  padding-top: 40px;
  height: 100vh;
}
.header a {
  color: #ffffff;
}
.contacts {
  padding-left: 40px;
}
.contacts__title {
  margin-bottom: 10px;
}
.contacts__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.57;
}
.profession {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  margin-bottom: 40px;
}

.main {
  padding: 50px 0;
}
.about-me {
  width: 500px;
  margin-bottom: 50px;
}
.about-me__title {
  text-align: center;
  margin-bottom: 10px;
}
.skills {
  display: flex;
  margin-bottom: 50px;
}
.skills__item {
  /* border: 1px solid black; */
  list-style: none;
}
.skills__title {
  text-align: center;
  margin-bottom: 10px;
}
.tech-scills,
.soft-skills {
  display: flex;
  list-style: none;
}
.skills__item:first-child {
  margin-right: 50px;
}
.tech-skills__item,
.soft-skills__item {
  list-style: disc;
}
.main-tech-skills__list,
.main-soft-skills__list {
  margin-right: 20px;
}
.main-tech-skills__list,
.main-soft-skills__list,
.secondary-tech-skills__list,
.secondary-soft-skills__list {
  padding-left: 20px;
}

.experience__list {
  list-style: none;
  padding-left: 20px;
}
.experience__item:not(:last-child) {
  margin-bottom: 50px;
}
.projects {
  list-style: none;
  margin-bottom: 50px;
}
.projects__title {
  padding-left: 10px;
  margin-bottom: 10px;
}
.solo-projects {
  margin-bottom: 10px;
}
.solo-projects li,
.team-projects li {
  list-style: disc;
}

.solo-projects {
  margin-right: 50px;
}
.work-experience__title:first-child {
  margin-bottom: 10px;
}

.work-experience__item {
  list-style: disc;
}
