/* color and width set */
:root {
  --mobile-width: 300px;
  --tablet-width: 768px;
  --desktop-width: 1200px;
  --primary-background-color: #ffffff;
}

/* reset */
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  padding: 0;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}
a {
  color: purple;
  text-decoration: none;
  display: block;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
@media screen and (min-width: 300px) {
  img {
    width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  img {
    width: 250px;
  }
}

/* main styles */
.content-wrapper {
  display: flex;
  /* width: 100vw; */
  /* @media screen and (min-width: 768px) {
    display: flex;
  } */
}

.container {
  /* width: 100vw; */
  /* @media screen and (min-width: 768px) {
    width: 250px;
  } */
}

.header {
  margin-right: 50px;
}
.main-info {
  padding: 15px;
}
.main-info__list {
  padding-left: 20px;
}
.name {
  font-size: 25px;
}
.profession {
  text-align: center;
}
.skills {
  display: flex;
}
.skills__item {
  border: 1px solid black;
  list-style: none;
}
.skills__title {
  text-align: center;
}
.tech-scills,
.soft-skills {
  display: flex;
  list-style: none;
}
.skills__item:first-child {
  margin-right: 50px;
}
.tech-skills__item,
.soft-skills__item {
  list-style: disc;
}
.main-tech-skills__list,
.main-soft-skills__list {
  margin-right: 20px;
}
.main-tech-skills__list,
.main-soft-skills__list,
.secondary-tech-skills__list,
.secondary-soft-skills__list {
  padding-left: 20px;
}

.main-info__item {
  list-style: none;
}

.main-info__item li {
  list-style: disc;
}

.experience__list {
  list-style: none;
}
.experience__item:not(:last-child) {
  margin-bottom: 30px;
}
.projects {
  display: flex;
  list-style: none;
}
.solo-projects li,
.team-projects li {
  list-style: disc;
}
.projects__title {
  text-align: center;
  margin-bottom: 20px;
}
.solo-projects {
  margin-right: 50px;
}
